<div class="modal fade" id="login-modal" tabindex="-1"
  aria-labelledby="login-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <form id="login-form" class="modal-content" action="/login" method="post"
      enctype="application/x-www-form-urlencoded">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="login-modal-title">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="redirectTo" id="redirect-to">
        <div class="mb-3">
          <label class="form-label" for="email">Email address</label>
          <input type="email" class="form-control" id="email" required
            placeholder="user@example.org" autocomplete="email" name="email">
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password</label>
          <input type="password" class="form-control" id="password" required
            placeholder="Password" autocomplete="current-password"
            name="password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Dismiss</button>
        <button type="submit" class="btn btn-success ms-auto">Sign in</button>
      </div>
    </form>
  </div>
</div>