@import "https://cdn.jsdelivr.net/npm/halfmoon@2.0.0/css/halfmoon.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css";
/* @import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;800;900&display=swap"; */

:root {
  --bs-success: var(--bs-lime-700);
}

nav.navbar {
  margin-bottom: 2em;
}

nav.navbar form {
  margin-bottom: 0;
}

.navbar-nav {
  align-items: center;
}

article.card {
  margin-bottom: 2em;
}

.with-translation span:nth-of-type(1) {
  font-size: x-large;
}

.with-translation span:nth-of-type(2) {
  font-size: medium;
}

/* 
article.card .card-body p {
  margin-top: 1em;
}

article.card .list-group {
  margin-top: 1em;
}

button.btn.tag {
  font-family: "Victor Mono", monospace;
  font-size: x-small;
}

i {
  margin-right: 0.5em;
}

ruby > rt {
  font-size: 60%;
}

*:lang(ja) {
  line-height: 2.5;
}

#tags {
  margin-bottom: 2em;
}

div.paragraph {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1em;
}

div.paragraph p:lang(ja) {
  font-size: large;
}

.card-title span:lang(en) {
  font-size: medium;
} */