/* @import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;800;900&display=swap"; */

:root {
  --bs-success: var(--bs-emerald-700);
}

nav.navbar {
  margin-bottom: 2em;
}

nav.navbar form {
  margin-bottom: 0;
}

.navbar-nav {
  align-items: center;
}

article.card {
  margin-bottom: 2em;
}

.with-translation span:nth-of-type(1) {
  font-size: x-large;
}

.with-translation span:nth-of-type(2) {
  font-size: medium;
}

.btn.tag {
  font-family: "Victor Mono", Monaco, Lucida, monospace;
  font-size: smaller;
}

.btn.tag.counter {
  margin-right: 1em;
  margin-top: 1em;
}
