{{#each fanfictions}}
  {{> fanfiction-card . }}
{{/each}}
<nav aria-label="Navigation">
  <ul class="pagination">
    {{#each pages}}
      <li class="page-item{{#if isActive}} active{{/if}}">
        <a href="{{href}}" class="page-link">{{index}}</a>
      </li>
    {{/each}}
  </ul>
</nav>